<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uploading file</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/fileUpload">    <!--отправка данных всегда post-->
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <div>
        <ul>
            <li th:each="file : ${files}">
                <img th:src="${location + '\' + file}">
            </li>
        </ul>
    </div>
</body>
</html>